#!/usr/bin/make -f

%:
	dh $@ --sourcedirectory=wmppp

override_dh_auto_install:
	install -m 755 wmppp/wmppp \
		$(CURDIR)/debian/wmppp.app/usr/bin/wmppp

override_dh_installppp:
	dh_installppp --name=00wmppp
